<h1 class="todo-list__header">Todos</h1>

@switch (todosQuery.status()) {
  @case ("pending") {
    <p>Loading...</p>
  }

  @case ("error") {
    <p>Error: {{ todosQuery.error() }}</p>
  }

  @case ("success") {
    <ul class="todo-list">
      @for (todo of todosQuery.data(); track todo.id) {
        <li class="todo-list__item">
          <a
            class="todo-list__item-title"
            [class.completed]="todo.completed"
            [routerLink]="['/todos', todo.id]"
          >
            {{ todo.title }}
          </a>

          <input
            type="checkbox"
            [checked]="todo.completed"
            (change)="onToggle(todo.id, $event)"
          />
        </li>
      }
    </ul>
  }
}

<form
  class="todo-form"
  [formGroup]="newTodoForm"
  (ngSubmit)="onSubmitNewTodo()"
>
  <h2>Add new</h2>
  <input
    type="text"
    placeholder="What needs to be done?"
    class="todo-form__title"
    [formControl]="newTodoForm.controls.title"
  />

  <textarea
    placeholder="Description"
    class="todo-form__description"
    [formControl]="newTodoForm.controls.description"
  ></textarea>

  <button class="todo-form__submit">Add</button>
</form>
