@switch (todoQuery.status()) {
  @case ("pending") {
    <p>Loading...</p>
  }
  @case ("error") {
    <p>There was an error loading the todo</p>
  }
  @case ("success") {
    @let todo = todoQuery.data()!;

    <h1 class="todo-detail__title">
      {{ todo.title }}
      <input
        type="checkbox"
        (change)="onToggle($event)"
        [checked]="todo.completed"
      />
    </h1>

    @if (!todoQuery.isPlaceholderData()) {
      <p>{{ todo.description }}</p>
    } @else {
      <p>
        Displaying 'placeholder data' stolen from the list view.. description
        loading soon
      </p>
    }

    <button type="button" (click)="onDelete()">Delete</button>
  }
}
