.todo-detail__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  input[type="checkbox"] {
    scale: 1.5;
  }
}

.todo-detail__actions {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
}
